In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('olympics.csv')

In [3]:
print(data.columns)

Index(['Year', 'City', 'Sport', 'Discipline', 'NOC', 'Event', 'Gender',
       'Medal', 'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [4]:
countries = {'Austria': 'Europe, West',
              'Belgium': 'Europe, West',
              'Canada': 'America, North',
              'Finland': 'Europe, North',
              'France': 'Europe, West',
              'United Kingdom': 'Europe, North',
              'Norway': 'Europe, North',
              'Switzerland': 'Europe, West',
              'Sweden': 'Europe, North',
              'United States': 'America, North',
              'Germany': 'Europe, West',
              'Czechoslovakia': 'Europe, East',
              'Hungary': 'Europe, East',
              'Italy': 'Europe, South',
              'West Germany': 'Europe, West',
              'Netherlands': 'Europe, West',
              'Unified Team of Germany': 'Europe, West',
              'Japan': 'Asia, East',
              'Poland': 'Europe, East',
              'Soviet Union': 'Europe, East',
              'Korea, North': 'Asia, East',
              'Easy Germany': 'Europe, West',
              'Romania': 'Europe, East',
              'Spain': 'Europe, South',
              'Liechtenstein': 'Europe, West',
              'Bulgaria': 'Europe, East',
              'Yugoslavia': 'Europe, East',
              'China': 'Asia, East',
              'Unified Team': 'Other',
              'Korea, South': 'Asia, East',
              'Luxembourg': 'Europe, West',
              'New Zealand': 'Australasia',
              'Australia': 'Australasia',
              'Belarus': 'Europe, East',
              'Kazakstan': 'Asia, Central',
              'Russia': 'Europe, East',
              'Slovenia': 'Europe, South',
              'Ukraine': 'Europe, East',
              'Uzbekistan': 'Asia, Central',
              'Czech Republic': 'Europe, East',
              'Denmark': 'Europe, North',
              'Croatia': 'Europe, South',
              'Estonia': 'Europe, North',
              'Latvia': 'Europe, North',
              'Slovakia': 'Europe, East'}
regions = ['Africa, East',
           'Africa, Middle',
           'Africa, North',
           'Africa, South',
           'Africa, West',
           'Caribbean',
           'America, Central',
           'America, North',
           'America, South',
           'Asia, Central',
           'Asia, East',
           'Asia, South-East',
           'Asia, South',
           'Asia, West',
           'Europe, East',
           'Europe, North',
           'Europe, South',
           'Europe, West',
           'Australasia',
           'Melanesia',
           'Micronesia',
           'Polynesia']
years = data.Year.unique().tolist()

In [6]:
data['Region'] = data['Country'].map(countries)
totals = data['Region'].value_counts().to_dict()
totals

{'Europe, West': 698,
 'Europe, North': 578,
 'Europe, East': 342,
 'America, North': 335,
 'Europe, South': 114,
 'Asia, East': 98,
 'Other': 23,
 'Australasia': 7,
 'Asia, Central': 1}

In [41]:
#df = pd.DataFrame(columns=['Year']+regions)
#df['Year'] = years
df = pd.DataFrame(columns=regions, index=years)
df.index.name='Year'
df

,"Africa, East","Africa, Middle","Africa, North","Africa, South","Africa, West",Caribbean,"America, Central","America, North","America, South","Asia, Central",...,"Asia, South","Asia, West","Europe, East","Europe, North","Europe, South","Europe, West",Australasia,Melanesia,Micronesia,Polynesia
Year,,,,,,,,,,,,,,,,,,,,,
1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
for i in data['Year'].unique():
    totals = data[data['Year']==i]['Region'].value_counts()
    for k, v in totals.items():
        df.at[i, k] = v

In [43]:
df.fillna(0, inplace=True)

In [52]:
df.loc[:, (df == 0).all()].columns.tolist()

['Africa, East',
 'Africa, Middle',
 'Africa, North',
 'Africa, South',
 'Africa, West',
 'Caribbean',
 'America, Central',
 'America, South',
 'Asia, South-East',
 'Asia, South',
 'Asia, West',
 'Melanesia',
 'Micronesia',
 'Polynesia']

In [54]:
df = df.drop(df.loc[:, (df == 0).all()].columns.tolist(), axis=1)

In [55]:
df.to_csv('total.csv')